.photosContainer{
    display: block;
    position: relative;
    height: 100%;
    
}
.photosContainer .contentContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(10px 10px 0px var(--secondary-color));
}
.photosContainer .carousel .slide{
    min-width: 100%!important;
}
.photosContainer .carousel .slide .slideContainer{
    width: fit-content!important;
}
.photosContainer .slideContainer img{
    height: 100%;
    object-fit: cover;
}
.photosContainer .carousel .thumbs-wrapper{
    margin: 15px 0 0 0;
}
.photosContainer .carousel .thumbs{
    padding: 0;
    margin: 0;
    text-align: center;
}
.photosContainer .carousel .thumbs img{
    height: 100%!important;
}
.photosContainer .carousel .thumbs .thumb{
    margin-right: 0!important;
    margin: 0 5px;
}
.carousel.carousel-slider .control-arrow:hover{
    background: none!important;
}
.carousel .carousel-status{
    display: none;
}
@media(max-width: 1300px){
    .carousel.carousel-slider{
        width: 250px!important;
    }
    .photosContainer .slideContainer img{
        width: 250px!important;
    }
    .photosContainer .carousel .thumbs .thumb{
        width: 30px!important;
    }
}
@media(max-width: 900px){
    .photosContainer{
        height: fit-content;
        padding: 50px 0;
    }
    .photosContainer .contentContainer{
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        filter: drop-shadow(10px 10px 0px var(--secondary-color));
    }
    .carousel.carousel-slider{
        margin: 0 auto!important;
        height: 350px;
    }
    
}