.homeContainer{
  height: 100dvh;
  width: 100%;
  display: flex;
  background-color: var(--primary-color);
  overflow:hidden;
}
.homeContainer .navContainer{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}
.homeContainer .navContainer .navItems{
  list-style: none;
  padding: 0;
  margin: 0;
}
.homeContainer .navContainer .navItems .navItem{
  display: block;
  padding: 10px;
  margin: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 75%;
}
.homeContainer .navContainer .navItems .navItem:hover{
  cursor: pointer;
}

.homeContainer .content{
  width: 70%;
  position: relative;
}
.homeContainer .content .compContainer{
  opacity: 0;
  position: absolute;
  top: -150%;
  transition: all 1s linear;
  transition-delay: 0.15s;
  width: 100%;
  height: 100%;
}
.homeContainer .content .compContainer.active{
  opacity: 1;
  top: 0%;
  transition: all 1s linear;
  
}
@media(max-width: 1300px){
  .homeContainer .navContainer{
    width: 20%;
  }
  .homeContainer .content{
    width: 80%;
  }
}